<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}Basalt{% endblock %}
            - Basalt
        </title>
        <link rel="stylesheet"
              href="{{ url_for('static', filename='styles/skeleton.css') }}" />
        <link rel="stylesheet"
              href="{{ url_for('static', filename='styles/colors.css') }}" />
        <link rel="stylesheet"
              href="{{ url_for('static', filename='styles/base.css') }}" />
        <link rel="icon"
              type="image/x-icon"
              href="{{ url_for('static', filename='images/fav.ico') }}" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
              rel="stylesheet">
        <script src="https://kit.fontawesome.com/4a94c21782.js"
                crossorigin="anonymous"></script>
        {% block extra_headers %}{% endblock %}
    </head>
    <body>
        <header class="base-header">
            <a class="base-navigation-brand" href="{{ url_for("index") }}">Basalt</a>
            <nav class="base-navigation">
                <a class="base-navigation-item" href="{{ url_for("list_entries") }}">All entries</a>
                <form class="base-navigation-form"
                      method="POST"
                      action="{{ url_for("new_entry") }}">
                    <button class="base-navigation-item" type="submit">New entry</button>
                </form>
                <a class="base-navigation-item" href="{{ url_for("logout") }}">Logout</a>
            </nav>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
