.entries-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: fit-content;
    min-width: min(100%, 500px);
}

.entry-container {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: white;
    background: var(--oc-gray-7);
    padding: 5px 10px;
}

.entry-title {
  flex-grow: 1;
}
