.entries-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: fit-content;
    min-width: min(100%, 500px);
}

.entries-list-item {
    background: var(--oc-gray-7);
    padding: 5px 10px;
}
